FileZillaFTP/
php/
perl/
phpMyAdmin/
MercuryMail/
licenses/
install/
locale/
mailtodisk/
htdocs/xampp/
htdocs/dashboard/
mysql/
apache/
tomcat/
src/
sendmail/
tmp/
htdocs/favicon.ico
htdocs/img/module_table_bottom.png
htdocs/img/module_table_top.png
img/bitnami.ico
mercury_start.bat
mercury_stop.bat
mysql_start.bat
mysqli_connect.php
passwords.txt
properties.ini
readme_de.txt
readme_en.txt
setup_xampp.bat
test_php.bat
uninstall.dat
webalizer/CHANGES
webalizer/
contrib/
cgi-bin/
anonymous/
apache_start.bat
apache_stop.bat
catalina_service.bat
catalina_start.bat
catalina_stop.bat
changes.txt
ctlscript.bat
filezilla_setup.bat
filezilla_start.bat
filezilla_stop.bat
xampp-control.ini
xampp_shell.bat
webdav/
htdocs/Stargate_Universe_1-3.mp4
htdocs/Stargate_Universe_4.mp4
htdocs/Stargate_Universe_5.mp4
htdocs/applications.html
htdocs/bitnami.css
mysql_stop.bat
